       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding-bottom: 80px; /* 네비게이션 바의 높이만큼 공간 확보 */
        }
        
        header {
            background-color: #ffffff;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile{
            font-size: 20px;
            margin: 10px;
            padding: 10px 0;
            
        }

        .review_star{
            position:inherit;
            float: right;
            color:#004F25

        }

        .review_title{
            margin: 10px;
            padding-bottom: 10px;
        }

        .review_title h3{
            margin-bottom: 5px;
            font-size: 20px;
        }
        
        
        .logo {
            display: block;
            margin: 0 auto;
        }
        nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #004F25;
            display: flex;
            align-items: center;
            height: 60px;
            
        }
        nav a {
            text-decoration: none;
            color: white;
            flex: 1;
            text-align: center;
            font-size: 13px;
        }

        nav img{
            filter:invert(100%);
        }


        .review-section {
            padding: 20px 30px;
            
        }
        .review-header {
            display: flex;
            justify-content: space-between;
        }
        
        .image-grid {
            background-color: #ffffff;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        .review-image {
            padding: 0 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .review-content {
            background-color: #f2f2f2;
            padding: 15px;
            height: 400px;
            margin: 0 40px;
            font-size: 18px;
            
        }
        .review {
            margin-bottom: 10px;
            border-top: 1px solid #dcdcdc;
            padding: 10px 10px;
            
            display: flex;
            align-items: center;
            position: relative;
        }
        